.card_style{
    cursor: pointer;
    transition: .3s;
    background-color: rgba(255, 7, 7, 0.295);
    /* box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.082); */
}
  
  .smalltrash{
      display: none;
  }
  
  .card_style:hover{
    background-color:rgba(138, 252, 246, 0.616);
     box-shadow: 2px 2px 5px 2px rgba(75, 73, 73, 0.082);
  }
  
  .itemsdetails{
      max-width: 800px;
      background-color: rgba(151, 3, 3, 0.788);
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      box-shadow: 2px -2px 4px rgba(255, 117, 117, 0.418),1px 2px 6px rgba(168, 55, 55, 0.397);
  }
  .items__img{
      flex:.4;
  }
  .items__img img{
      width: 20rem;
      max-height: 15rem;
      border-radius: 5px;
  }
  
  .details{
      flex: .5;
  };
  
  .rating{
      background-color: green;
  }
  
  @media screen and (max-width:772px){
      .itemsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }

  .btn{
    background-color: #f44336;
  }
  .modal-btn:hover{
    background-color:#fff;
    color: #f44336;
    border: 1px solid #f44336;

  }
  .lnk:hover{
   border-radius: 20px;
    border-bottom: 1px solid #fff;
  }

.fa-cart-shopping{
    padding-bottom: 8px;
    border-radius: 10px;
}
.fa-cart-shopping:hover{
    border-bottom: 1px solid #fff;
}


  
  @media screen and (max-width:450px){
      .smalltrash{
          display: block;
      }
      .largetrash{
          display:none;
      }
      .emptycart_img{
          margin-right: 50px;
      }
      .smallclose{
          display: none;
      }
  
      /* individual iteams details */
     
      .items_img img{
          width: 16rem;
      }
      
  }